body {
  background-color: black;
  color: white;
}

.menu {
  padding-top: 15PX;
  position: sticky;
  top: 0px;
  text-align: center;
  color: white;
}

.menu a {
  position: sticky;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 13px;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 24px;
}

.menu a:hover {
  background-color: yellow;
}

.about {
  padding-top: 40px;
  text-align: center;
}

.about h3 {
  text-align: center;
  padding-right: 500px;
  font-size: 20px;
}

.about p {
  padding-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container img {
  padding-top: 40px;
  margin: 25px 25px;
}

.munch:hover {
  display: flex;
  text-align: center;
  opacity: 0.2;
  content: attr(data-hover);
}

.munch:hover:after {
  color: white;
  opacity: 1;
  content: attr(data-hover);
}

.granula:hover {
  opacity: 0.2;
}

.granula:hover:after {
  content: attr(data-hover);
}

.laststudio:hover {
  opacity: 0.2;
}

.laststudio:hover:after {
  content: attr(data-hover);
}

.java-slider:hover {
  opacity: 0.2;
}

.hava-slider:hover:after {
  content: attr(data-hover);
}